<div class="page job-page">
   
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">Mark Stephen</h1>
              <p>HR Executiver</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li> <a href="#/dashboard"><i class="icon-home"></i>Dashboard</a></li>
           
            <li> <a href="#/manageJobs"> <i class="icon-grid"></i>Manage Jobs </a></li>
            <li class="active"> <a href="#/createJob"> <i class="fa fa-bar-chart"></i>Create Jobs </a></li>
           
          </ul>
          
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Create Jobs</h2>
            </div>
          </header>
           <!-- Breadcrumb-->
           <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Create Job</li>
            </ul>
          </div>
          <section id="job-profile">
            <div class="container-fluid">
              
                    <form class="form-horizontal" id="jobForm"  method="post">
                            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12" style="border-right: 1px solid #ddd;">
                   
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label text-left">Title:</label>
                              <div class="col-sm-9">
                                <input id="inputHorizontalSuccess" name="title" type="text" placeholder="Job title" class="form-control form-control-success">
                              </div>
                              
                            </div>
                         
                            <div class="form-group row" id="add_loaction_">
                              <label class="col-sm-3 form-control-label text-left">Location:</label>
                              <div class="col-sm-8">
                                <ul id="location-list">
                                  <li style="margin-bottom: 10px; width: 100%;display: inline-flex;"><input id="location_" name="location" class="form-control form-control-success" type="text" placeholder="Search Box"></li>
                                </ul>
                                
                              </div>
                              <div class="col-md-1" style="padding: 0;">
                                  <a href="" id="add-loc" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                       
                        <div class="form-group row">
                              <label class="col-sm-3 form-control-label text-left">Type:</label>
                              <div class="segmented-control" style="width: 69%; color: #5FBAAC">
                                <input type="radio" name="sc-1-1" id="sc-1-1-1">
                                <input type="radio" name="sc-1-1" id="sc-1-1-2" checked>
                                
                            
                                
                                <label for="sc-1-1-1" data-value="Internship">Internship</label>
                                <label for="sc-1-1-2" data-value="Permanent">Permanent</label>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-left">Job Start Date:</label>
                                <div class="col-sm-9">
                                 <input  type="date" name="startDate" id="startDate" class="form-control form-control-warning">
                                </div>
                              </div>
                          
                          <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-left">Application Deadline:</label>
                                <div class="col-sm-9">
                                  <input type="date" name="deadline" id="deadline" class="form-control form-control-warning">
                                </div>
                              </div>
                        
                            
                          
                  </div>
                <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                   
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label text-left">Mandatory Skills:</label>
                              <div class="col-sm-9">
                                  <textarea name="m-skills" id="inputHorizontalSuccess" type="text" placeholder="select from a predefined list" class="form-control form-control-success"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-left">Optional Skills:</label>
                                <div class="col-sm-9">
                                    <textarea name="o-skills" id="inputHorizontalSuccess" type="text" placeholder="select from a predefined list" class="form-control form-control-success"></textarea>
                                </div>
                              </div>
                              
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-left">University Targets:</label>
                                <div class="col-sm-8">
                                  <ul id="univ-list">
                                    <li style="margin-bottom: 10px; width: 100%;display: inline-flex;"><input name="university" id="univ_" type="text" placeholder="" class="form-control form-control-warning"></li>
                                  </ul>
                                </div>
                                <div class="col-md-1" style="padding: 0;">
                                  <a href="" id="add-univ" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </div>
                              </div>
                          <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-left">Degree Programs:</label>
                                <div class="col-sm-8">
                                    <ul id="degree-list">
                                    <li style="margin-bottom: 10px; width: 100%;display: inline-flex;"><input name="degree" id="degree_" type="text" placeholder="" class="form-control form-control-warning"></li>
                                    </ul>
                                </div>
                                <div class="col-md-1" style="padding: 0;">
                                    <a href="" id="add-degree" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-left">Min Exam Score:</label>
                                <div class="col-sm-8">
                                    <ul id="score-list">
                                    <li style="margin-bottom: 10px; width: 100%;display: inline-flex;"><input name="score" id="score_" type="text" placeholder="" class="form-control form-control-warning"></li>
                                    </ul>
                                </div>
                                <div class="col-md-1" style="padding: 0;">
                                    <a href="" id="add-score" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                           
                              <div class="form-group row">
                                  <label class="col-sm-3 form-control-label text-left">Work Authorization:</label>
                                  <div class="col-sm-9">
                                    <div class="toggle-wrapper">
                                      <input name="visa" id="example" class="toggle" type="checkbox" />
                                        <label for="example" class="toggle--label"></label>
                                        <div class="foux-toggle"></div>
                                    </div>
                                  </div>
                                </div>
                            <div class="form-group row">       
                              <div class="col-sm-9 offset-sm-3 text-right">
                                <button ng-click="search()"  class="btn btn-primary">Find Candidates</button>
                              </div>
                            </div>
                        </div>
                    </form>
                 
                </div>
              </div>
            </section>
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Your company &copy; 2017-2019</p>
                </div>
                
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
    
      var count=0;
      //add and remove location
    $("#add-loc").click(function(){
      
      count=count+1;
      var location='<li style="margin-bottom: 10px;width: 100%;display: inline-flex;"><input id="location_'+ count+'"name="location" class="form-control form-control-success" type="text" placeholder="Search Box"><span id="remove-loc_'+count+'" style="font-size: 26px; padding: 5px; cursor: pointer;">&times;</span></li>';
      let id=$("#location-list:last").attr('id');
        $("#"+id).append(location);
        $("#remove-loc_"+count).click(function(){
         
          var locId=$(this).siblings().attr('id');
          $("#"+locId).parent().remove();
        });
       // $("#location-list").append("");
    });
    //add and remove university
    $("#add-univ").click(function(){
      
      count=count+1;
      var university='<li style="margin-bottom: 10px; width: 100%;display: inline-flex;"><input name="university" id="univ_'+count+'" type="text" placeholder="" class="form-control form-control-warning"><span id="remove-univ_'+count+'" style="font-size: 26px; padding: 5px; cursor: pointer;">&times;</span></li>';
      let id=$("#univ-list:last").attr('id');
        $("#"+id).append(university);
        $("#remove-univ_"+count).click(function(){
         
          var univId=$(this).siblings().attr('id');
          $("#"+univId).parent().remove();
        });
      
    });
    //add and remove degree
    $("#add-degree").click(function(){
      
      count=count+1;
      var degree='<li style="margin-bottom: 10px; width: 100%;display: inline-flex;"><input name="degree" id="degree_'+count+'" type="text" placeholder="" class="form-control form-control-warning"><span id="remove-degree_'+count+'" style="font-size: 26px; padding: 5px; cursor: pointer;">&times;</span></li>';
      let id=$("#degree-list:last").attr('id');
        $("#"+id).append(degree);
        $("#remove-degree_"+count).click(function(){
         
          var degId=$(this).siblings().attr('id');
         
          $("#"+degId).parent().remove();
        });
      
    });
    //add and remove score
    $("#add-score").click(function(){
      
      count=count+1;
      var score='<li style="margin-bottom: 10px; width: 100%;display: inline-flex;"><input name="score" id="score_'+count+'" type="text" placeholder="" class="form-control form-control-warning"><span id="remove-score_'+count+'" style="font-size: 26px; padding: 5px; cursor: pointer;">&times;</span></li>';
      let id=$("#score-list:last").attr('id');
        $("#"+id).append(score);
        $("#remove-score_"+count).click(function(){
         
          var scoreId=$(this).siblings().attr('id');
         
          $("#"+scoreId).parent().remove();
        });
      
    });

    </script>
       <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../vendor/jquery-validation/jquery.validate.min.js"></script>
  

    
    