
    <div class="page invite-page" ng-controller="jobInviteController">
      
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">Mark Stephen</h1>
              <p>HR Executive</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li> <a href="#/dashboard"><i class="icon-home"></i>Dashboard</a></li>
            
            <li class="active"><a href="#/manageJobs"> <i class="icon-grid"></i>Manage Jobs </a></li>
            <li> <a href="#/createJob"> <i class="fa fa-bar-chart"></i>Create Jobs </a></li>
            
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Candidate Invite Preview</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#/createJob">Create Job</a></li>
                <li class="breadcrumb-item"><a href="#/searchResult">Search Result</a></li>
                <li class="breadcrumb-item active">Candidate Invite Preview</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              <h4>Supply chain graduate program</h4>
              <div class="row">
                
                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="border-right: 10px solid; border-right-style: double;">
                      <div class="text-center">
                        <h5>Configure Candidate Invite</h5>
                        <p>This screen is an opportunity for you to advertise to the candidate.</p>
                      </div>
                        <fieldset style="border: 2px solid black;">
                            <legend style="width: 22%;padding: 0 0px 0 10px;font-size: 18px;margin-left: 10px;">Invitation Text</legend>
                      <div class="adjoined-bottom">
		<div class="grid-container">
			<div class="grid-width-100">
				<div id="editor1">
					
					<p >Dear ...<br/>
We are happy to inform your that your experience and skills matches a current
requirement at Nestle. We are keen to hear your thoughts.<br/>
Best,<br/>
                    <img alt="" src="" style="height:60px; width:100px" />
                  </p>
				</div>
			</div>
		</div>
	</div>
                        </fieldset>
                        <fieldset style="border: 2px solid black;">
                            <legend style="width: 24.5%;padding: 0 0px 0 10px;font-size: 18px;margin-left: 10px;">Job Description</legend>
                      <div class="adjoined-bottom">
		<div class="grid-container">
			<div class="grid-width-100">
				<div id="editor2">
					
					<p>As a Supply Chain Graduate, you'll be able to gain insight into how one of the FMCG
industry's most complex supply chains is managed. You'll take on various
placements across the breadth of the supply chain which could include logistics,
supply planning, demand planning, customer facing roles, and procurement. Your
responsibilities could range all the way from running a warehouse shift to managing
our inventory within key customers or communicating our business goals with our
suppliers.<br/>
Throughout the two year Graduate programme you’ll have strong senior
connections, including support from a dedicated graduate champion and
opportunities to interact with our Nestlé Leadership Team.</p>
				</div>
			</div>
		</div>
	</div>
                        </fieldset>
                        <input type="button" value="Submit" class="btn btn-primary btn-invite" ng-click="submitInvite()" />
                         
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                        <div class="text-center">
                            <h5>Candidate Mobile App</h5>
                            
                          </div>
                    <div id="mobile" class="mobile-layout">
                      <span class="client-logo"></span>
                        <div id="mobile-invite" ></div>
                        <button class="btn btn-default">View Job Description</button>
                      <img src="img/mobile-invite.png" />
                        
                        </div>
                    </div>
                
              
              </div>
            </div>
          </section>
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Your company &copy; 2017-2019</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../vendor/jquery-validation/jquery.validate.min.js"></script>
    
   
    <script>
  initSample1();
  var str=CKEDITOR.instances.editor1.getData();
   var html = $.parseHTML( str )[1].textContent;
  $('#mobile-invite').html(str);
  
  CKEDITOR.instances.editor1.on('change', function(e) { 
    var str=e.editor.getData();
   
    $('#mobile-invite').html(str);
   
});

        initSample2();
        
</script>
      
  