<div class="page charts-page">
     
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">Mark Stephen</h1>
              <p>HR Executive</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li> <a href="#/dashboard"><i class="icon-home"></i>Dashboard</a></li>
            
            <li class="active"><a href="#/manageJobs"> <i class="icon-grid"></i>Manage Jobs </a></li>
            <li> <a href="#/createJob"> <i class="fa fa-bar-chart"></i>Create Jobs </a></li>
            
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Manage Jobs</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Jobs</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                  <div class="card">
                    
                    <div class="card-header">
                      <h3 class="h4"></h3>
                        
                    </div>
                    <div class="card-body">
                      <table class="table table-striped table-hover manage-jobs">
                        
                        <tbody>
                          <tr>
                            
                            <td><a href="#/searchResult">Supply Chain Program</a><br>Last activity, 16 Dec, 2017</td>
                            <td>30<br>Candidates<br>Matches</td>
                            <td>28<br>Applications<br>Received</td>
                            <td>06<br>Days Open</td>
                              <td><a href="#/searchResult" class=" btn btn-primary">Manage Campaign</a></td>
                          </tr>
                          <tr>
                            
                            <td><a href="#/searchResult">Marketing Graduate Program</a><br>Last activity, 03 Dec, 2017</td>
                            <td>63<br>Candidates<br>Matches</td>
                            <td>47<br>Applications<br>Received</td>
                            <td>43<br>Days Open</td>
                            <td><a href="#/searchResult" class=" btn btn-primary">Manage Campaign</a></td>
                          </tr>
                          <tr>
                            
                            <td><a href="#/searchResult">Product Management Program</a><br>Last activity, 07 Dec, 2017</td>
                            <td>15<br>Candidates<br>Matches</td>
                            <td>11<br>Applications<br>Received</td>
                            <td>15<br>Days Open</td>
                            <td><a href="#/searchResult" class=" btn btn-primary">Manage Campaign</a></td>
                          </tr>
                            <tr>
                            
                            <td><a href="#/searchResult" >Global Strategy Program</a><br>Last activity, 12 Dec, 2017</td>
                            <td>28<br>Candidates<br>Matches</td>
                            <td>22<br>Applications<br>Received</td>
                                 <td>13<br>Days Open</td>
                                 <td><a href="#/searchResult" class=" btn btn-primary">Manage Campaign</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </section>
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Your company &copy; 2017-2019</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../vendor/jquery-validation/jquery.validate.min.js"></script>
  