<div class="page charts-page">
       
        <div class="page-content d-flex align-items-stretch"> 
          <!-- Side Navbar -->
          <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
              <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
              <div class="title">
                <h1 class="h4">Mark Stephen</h1>
                <p>HR Executive</p>
              </div>
            </div>
            
            <!-- Sidebar Navidation Menus--><span class="heading">Filter your search</span>
            <ul class="list-unstyled">
              <li class="univ-filter"> <a href="" id="univ-filter" >University<i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
              <ul id="option1">
                <li><input class="styled-checkbox" id="univ-1" type="checkbox" value="University of Oxford" name="univ" onClick="filterTable(this)">
                  <label for="univ-1">University of Oxford</label></li>
                <li><input class="styled-checkbox" id="univ-2" type="checkbox" value="University of Reading" name="univ">
                    <label for="univ-2">University of Reading</label></li>
                <li><input class="styled-checkbox" id="univ-3" type="checkbox" value="University College London" name="univ">
                      <label for="univ-3">University College London</label></li>
                <li><input class="styled-checkbox" id="univ-4" type="checkbox" value="University of Oxford" name="univ">
                        <label for="univ-4">University of Oxford</label></li>
              </ul>
              </li>
              
              <li><a href="">Degree Programs</a></li>
              <li> <a href="">Exam Grades </a></li>
              <li><a href="">Mandatory Skills</a></li>
              <li><a href="">Optional Skills</a></li>
              
            </ul>
          </nav>
          <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
              <div class="container-fluid">
                <h2 class="no-margin-bottom">Search Results</h2>
              </div>
            </header>
            <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="#/createJob">Create Job</a></li>
                  <li class="breadcrumb-item active">Search Result</li>
              </ul>
            </div>
            <section class="tables">   
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="card">
                      
                      <div class="card-header">
                        <div class="row">
                          <div class="col-md-9">
                            <ul class="filter-summary-filterList" id="tag-ul">
                              <li class=""><div class="filter-summary-filter"><span id="filter-tag"></span>
                                
                                  <span class=" filter-summary-removeIcon sprites-remove" id="remove-tag">&times;</span>
                                
                              </div>
                            </li>
                            </ul>
                            
                      </div>
                      <div class="col-md-3">
                          <a class="btn btn-primary float-right" href="">Invite all</a>
                        </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <table class="table table-striped table-hover" id="table1">
                          
                          <tbody>
                            <tr data-id="univ-1">
                              <th scope="row">1</th>
                              <td><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                                <div class="profile-details">
                                    <ul>
                                    <li>Name: John Doe</li>
                                    <li>Email: john.doe@gmail.com</li>                                  
                                    <li>Degree Programme: Bachelor's in Engineering</li>
                                    <li>University: University of Oxford</li>
                                    <li>Graduated on: 06/01/2016</li>
                                    <li>Location: Buckinghamshire</li>
                                    <li>Industry Type: It-Software</li>
                                    <li>Top 3 dream companies: ABC, XYZ, PQR</li>
                                    <li><a href="/resume.docx" download>Download resume</a></li>
                                  </ul>
                                </div>
                              </td>
                              <td>100<br>(Skill match %)</td>
                              <td><i class="fa fa-hourglass-start color-red" aria-hidden="true"></i> Interested<br>Status</td>
                                <td><a class="invite" href="#/jobInvite">Invite</a></td>
                                <!-- <td>
                                    <a href="" data-target="#myModal" role="button" class="underline" data-toggle="modal">Schedule Interview</a>
                                         
                                          <div class="modal fade" id="myModal" role="dialog">
                                              <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    
                                                    <h5 class="modal-title">Schedule interview for John Doe</h5>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <div class="form-group">
                                                                                                      
                                                           <input type='date' class="form-control" name="date"/>
                                                           <input type='time' class="form-control" name="time"/>
                                                           
                                                      
                                                   </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <input type="button" value="Submit" class="btn btn-primary" data-dismiss="modal"/>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                </td> -->
                            </tr>
                            <tr data-id=" ">
                              <th scope="row">2</th>
                              <td><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                                <div class="profile-details">
                                    <ul>
                                    <li>Name: John Doe</li>
                                    <li>Email: john.doe@gmail.com</li>                                  
                                    <li>Degree Programme: Bachelor's in Engineering</li>
                                    <li>University: University of Warwick</li>
                                    <li>Graduated on: 06/01/2016</li>
                                    <li>Location: Buckinghamshire</li>
                                    <li>Industry Type: It-Software</li>
                                    <li>Top 3 dream companies: ABC, XYZ, PQR</li>
                                    <li><a href="/resume.docx" download>Download resume</a></li>
                                  </ul>
                                </div>
                              </td>
                              <td>90<br>(Skill match %)</td>
                              <td><i class="fa fa-hourglass-end color-green" aria-hidden="true"></i> Highly Interested<br>Status</td>
                                 <td>Invited</td>
                                 
                            </tr>
                            <tr data-id="univ-1">
                              <th scope="row">3</th>
                              <td><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                                <div class="profile-details">
                                    <ul>
                                    <li>Name: John Doe</li>
                                    <li>Email: john.doe@gmail.com</li>                                  
                                    <li>Degree Programme: Bachelor's in Engineering</li>
                                    <li>University: University of Oxford</li>
                                    <li>Graduated on: 06/01/2016</li>
                                    <li>Location: Buckinghamshire</li>
                                    <li>Industry Type: It-Software</li>
                                    <li>Top 3 dream companies: ABC, XYZ, PQR</li>
                                    <li><a href="/resume.docx" download>Download resume</a></li>
                                  </ul>
                                </div>
                              </td>
                              <td>36<br>(Skill match %)</td>
                              <td><i class="fa fa-hourglass-start color-red" aria-hidden="true"></i> Interested<br>Status</td>
                                 <td>Invite</td>
                                 
                            </tr>
                              <tr data-id=" ">
                              <th scope="row">4</th>
                              <td><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                                <div class="profile-details">
                                    <ul>
                                    <li>Name: John Doe</li>
                                    <li>Email: john.doe@gmail.com</li>                                  
                                    <li>Degree Programme: Bachelor's in Engineering</li>
                                    <li>University: University of Warwick</li>
                                    <li>Graduated on: 06/01/2016</li>
                                    <li>Location: Buckinghamshire</li>
                                    <li>Industry Type: It-Software</li>
                                    <li>Top 3 dream companies: ABC, XYZ, PQR</li>
                                    <li><a href="/resume.docx" download>Download resume</a></li>
                                  </ul>
                                </div>
                              </td>
                              <td>85<br>(Skill match %)</td>
                              <td><i class="fa fa-hourglass-start color-red" aria-hidden="true"></i> Interested<br>Status</td>
                                   <td>Invite</td>
                                   
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </section>
            <!-- Page Footer-->
            <footer class="main-footer">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6">
                    <p>Your company &copy; 2017-2019</p>
                  </div>
                  <div class="col-sm-6 text-right">
                    <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
      <!-- Javascript files-->
     <script>
     $('.card-body td').mouseenter(function(){
  var pos = $(this).position();
  $(this).find('.profile-details').css('top', (pos.top)+65 + 'px').fadeIn();
}).mouseleave(function(){
  $(this).find('.profile-details').fadeOut();
 
});


      $("#univ-filter").click(function(){
        $("#option1").slideToggle(600);
        $(this).children("i").toggleClass("fa-plus-square-o fa-minus-square-o");
      });
      $("#remove-tag").click(function(){


      });
      function filterTable( elm ) { // elm = element
        var favorite = [];
       
        $.each($("input[name='univ']:checked"), function(){            
            favorite.push($(this).val());
            var tags= favorite.join(", ");
           
            $("#filter-tag").text(tags);
        });
        var ischecked = elm.checked,
            $target = $('#table1 tr[data-id="' + elm.id + '"]');
            $other=$('#table1 tr[data-id=" "]');

        if(ischecked){
          $("#tag-ul").css('display','flex');
          ($target).show();
$other.hide();
        }
        else{
          $("#tag-ul").hide();
          ($target).show();
$other.show();
        }
        $("#remove-tag").click(function(){
      
      $("#option1>li").find('input[type="checkbox"]').not(this).prop('checked', false);
      $("#tag-ul").css('display','none');
      ($target).show();
$other.show();
      });
        
    }
    

     </script>
    
     
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="../vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../vendor/jquery-validation/jquery.validate.min.js"></script>
  
   